* {
  font-family: "Italiana", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
}

body {
  padding: 0px;
  margin: 0px;
}

.navbar {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  align-content: center;
  height: 120px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 2;
  position: fixed;
  width: 100%;
  top: 0;
}

.navbar ul li {
  list-style: none;
  font-size: 24px;
  text-align: center;
  color: rgb(245, 245, 232);
  background-color: black;
}

.navbar ul {
  display: grid;
  width: 70%;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0px;
  margin: 0px;
  background-color: black;
}

.navbar ul li:hover {
  cursor: pointer;
  background-color: #aa9c66;
}

.banner-content {
  background: url("./assets/banner.jpg");
  background-attachment: fixed;
  height: 980px;
  display: grid;
  place-items: center;
}

.banner-content h1 {
  position: relative;
  top: 200px;
  font-size: 70px;
  color: #ffffff;
}

.banner-buttons {
  position: relative;
  top: -150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.banner-buttons button {
  width: 170px;
  height: 70px;
  font-size: 20px;
  border: none;
  background-color: #aa9c66;
  color: #ffffff;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.about {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  width: 1220px;
  margin: 70px auto;
  padding: 40px;
  text-align: start;
  background-color: #f0f0f0;
}

.about1,
.about2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  width: 1200px;
  margin: 70px auto;
  padding: 25px;
  line-height: 35px;
}

.about img {
  height: 550px;
  width: 550px;
  object-fit: cover;
}

.menu {
  background-color: #f0f0f0;
  width: 1220px;
  padding: 40px;
  margin: 120px auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.card-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  color: #aa9c66;
  width: 1200px;
  margin: auto;
}

.menu-imgs {
  width: 300px;
  margin: 30px 30px 30px 30px;
  border-radius: 5%;
}

.menu-desc {
  text-align: center;
  font-weight: 600;
  padding-left: 20px;
  padding-right: 20px;
}

.menu-names {
  font-size: 25px;
  text-decoration: underline;
  color: rgb(158, 152, 96);
}

.card {
  width: 370px;
  min-height: 400px;
  cursor: pointer;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25),
    0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
  transition: all ease 200ms;
  display: grid;
  place-items: center;
  grid-template-rows: 1fr 0.3fr 0.3fr;
  background-color: black;
  border-radius: 1rem;
  overflow: hidden;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.03);
  box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12),
    0 8px 32px -8px hsla(0, 0%, 0%, 0.14),
    0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

.menu-desc,
.menu-names {
  background-color: black;
}

.menu h2 {
  text-align: center;
  font-size: 35px;
  margin: 60px 0 60px 0;
}

.menu h1 {
  text-align: center;
  font-size: 40px;
}

.menu-top-p {
  text-align: center;
  font-size: 23px;
  width: 1200px;
  margin: 70px 0 55px;
}

.contact {
  background-color: #f0f0f0;
  width: 1200px;
  margin: 100px auto;
  height: 1430px;
  padding: 40px;
  text-align: center;
}

.contact h1 {
  text-align: center;
  width: 1200px;
  font-size: 40px;
}

.contact p,
.contact h2,
.contact h3 {
  text-align: start;
  width: 800px;
  margin: 50px auto;
}

.contact input {
  margin: 10px auto;
  width: 320px;
  height: 20px;
  text-align: start;
  padding: 10px;
  border: none;
  border-radius: 3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  font-family: sans-serif;
  display: block;
}

.react-datepicker__header {
  background-color: #f0ce38;
  color: white;
}

.react-datepicker__day-name {
  color: #333;
}
.react-datepicker__day,
.react-datepicker__day-name {
  width: 2.5rem;
  line-height: 2.5rem;
  margin: 0.166rem;
  border-radius: 50%;
}

.react-datepicker__day--selected {
  background-color: #c2ab4f;
  color: white;
}

.react-datepicker__day:hover {
  background-color: #aa9c66;
}

.react-datepicker__time-container {
  width: 120px;
}

.react-datepicker__time-box {
  width: 120px !important;
}

.contact .info {
  margin: 10px auto;
  width: 320px;
  height: 20px;
  text-align: start;
  padding: 10px;
}

.contact .book {
  height: 40px;
  width: 205px;
  cursor: pointer;
  border: none;
  background-color: black;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  color: rgb(255, 198, 93);
  font-size: 16px;
  padding: 10px;
  border-radius: 3px;
  display: block;
  margin: 10px auto;
}

.iframe-div {
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.hamburger-menu {
  display: none;
  cursor: pointer;

}

.hamburger-menu .bar {
  width: 25px;
  height: 4px;
  margin: 5px;
}

@media only screen and (max-width: 1300px) {
  .about {
    width: 100%;
    padding: 0;
  }

  .about1,
  .about2 {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: none;
  }

  .about1 {
    margin: 0 auto;
    padding-top: 50px;
  }

  .about1 img {
    width: 500px;
    height: 300px;
  }

  .about1 h2 {
    font-size: 20px;
    margin: 50px 40px 40px 40px;
    text-align: center;
  }

  .about2 img {
    order: -1;
    width: 600px;
    height: 400px;
  }

  .about2 p {
    text-align: center;
    font-size: 15px;
  }

  .banner-content {
    width: 100%;
  }

  .home {
    width: 100%;
  }

  .home h1 {
    font-size: 45px;
  }

  .banner-buttons button {
    width: 170px;
  }

  .about1 {
    margin: 0 auto;
  }

  .menu {
    padding: 10px;
    margin: 120px auto;
    width: 90%;
  }

  .card {
    width: 350px;
    min-height: 380px;
    cursor: pointer;
  }

  .menu-imgs {
    width: 250px;
    height: 250px;

  }

  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  .menu-top-p {
    width: 90%;
    padding: 0 20px 0 20px;
    margin: 70px auto 100px auto;

  }
  
  .menu-names {
    font-size: 21px;
  }

  .menu-desc {
    font-size: 15px;
    width: 80%;
    margin: 11px 0;
  }
}

@media only screen and (max-width: 1200px) {

   .banner-content {
    width: 100%;
   } 

   .home {
    width: 100%;
   }

   .about1 {
    width: 90%;
   }

   .about2 {
    width: 90%;

   }

  .about1 h2 {
    width: 80%;

  }

  .about2 p {
    width: 90%;
  }
}


@media only screen and (max-width: 800px) {
  .hamburger-menu {
    display: block;
    position: absolute;
    left: 90%;
  }

  .navbar {
    position: relative;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: none;
  }

  .navbar img {
    position: absolute;
  }


  .hamburger-menu .bar {
    background-color: rgba(255, 255, 255, 0.863);  
  }

  .navbar ul {
    height: 100px;
    width: 100%;
    position: relative;
    top: 100px;
    place-items: center;
  }

  .navbar li {
    align-content: center;
    width: 100%;
    margin-top: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
  }
}
